# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build
/app

# IDEs
.vscode/
.idea/

# Docker
**/Dockerfile*
**/docker-compose*.yml

# Logs
*.log

# note publisher
scripts/note-publisher/node_modules/
scripts/note-publisher/storage/
scripts/note-publisher/artifacts/

# OS
.DS_Store
